@use '@pepperi-addons/ngx-lib/src/core/style/abstracts/variables' as variables;
// @use '@pepperi-addons/ngx-lib/src/core/style/abstracts/functions' as ngx-functions;
// @use '@pepperi-addons/ngx-lib/src/core/style/abstracts/mixins' as ngx-mixins;

::ng-deep .left-container{
    .title-xl{
        align-self: center;
        margin-inline-start: variables.$spacing-sm;
    }
}

mat-tab-group{
    max-width: 56rem;
}
// mat-tab-group{
//     max-width: 56rem;
//     height: 100%;
    
//     ::ng-deep {
//         .mat-tab-header{
//             position: sticky;
//             top: 0;
//             background: #fff;
//             z-index: 2;
//         }
//         .mat-tab-body-wrapper{
//             height: 100%;
        
//             .mat-tab-body-content{
//                 padding: unset !important;
//             }
//         }
//     }
// }