<pep-page-layout>
    <ng-container pep-top-area>
        <pep-top-bar>
            <ng-container header-start-content>
                <div class="pep-spacing-element">
                    <pep-button [iconName]="'arrow_left_alt'" [styleType]="'weak'" (click)="navigateBack()"
                        class="pep-spacing-element pull-left flip">
                    </pep-button>
                    <span class="title-xl pull-left flip">{{('HEADER_TITLE' | translate) + ': '+ (headerData?.name != '' ? headerData.name : ('HEADERS_MANAGER.GRID_HEADER.NAME_NO_SET' | translate))}}</span>
                </div>
            </ng-container>
            <ng-container header-end-content>
                <button class="mat-button pep-button strong md pep-spacing-element pull-right flip" (click)="saveHeader($event,true);">
                    {{ 'ACTION.PUBLISH' | translate }}
                </button>
                <button class="mat-button pep-button weak md pep-spacing-element pull-right flip" (click)="saveHeader($event);">
                    {{ 'ACTION.SAVE' | translate }}
                </button>
                <div class="menu pep-spacing-element pull-right flip">
                    <pep-menu [items]="[]"></pep-menu>
                </div>
            </ng-container>
        </pep-top-bar>
    </ng-container>
    <ng-container pep-main-area>

        <mat-tab-group>
            <mat-tab label="{{'TABS.GENERAL' | translate}}">
                    <general-tab [general]="generalData" (generalDataChanged)="onHeaderKeyChange('general',$event)"></general-tab>
            </mat-tab>
            <mat-tab label="{{'TABS.MENU' | translate}}">
                <menu-tab [menuItems]="menuView || []" (onAddNewMenuItem)="onAddNewMenuItem($event,false)"
                (onAddNewSubMenuItem)="onAddNewMenuItem($event,true)" (onDeleteMenuItem)="deleteMenuItem($event)" (onMenuItemPositionChange)="setMenuItemsPosition($event)"
                (onMenuItemChange)="onMenuItemChange($event)" ></menu-tab>
            </mat-tab>
            <mat-tab label="{{'TABS.BUTTONS' | translate}}">
                <buttons-tab [buttons]="headerData?.buttons || []" (onButtonsChange)="onHeaderKeyChange('buttons',$event)"></buttons-tab>
            </mat-tab>
            <mat-tab label="Style">
                <theme-header-tab></theme-header-tab>
            </mat-tab>
        </mat-tab-group>
    </ng-container>