<pep-page-layout>
    <ng-container pep-top-area>
        <pep-top-bar [title]="'HEADER_TITLE' | translate">
            <ng-container header-end-content>
                <div class="menu pep-spacing-element pull-right flip">
                    <pep-menu [items]="[]"></pep-menu>
                </div>
                <button class="mat-button pep-button strong md pep-spacing-element pull-right flip">
                    {{ 'ACTION.PUBLISH' | translate }}
                </button>
                <button class="mat-button pep-button weak md pep-spacing-element pull-right flip">
                    {{ 'ACTION.CANCEL' | translate }}
                </button>
            </ng-container>
        </pep-top-bar>
    </ng-container>
    <ng-container pep-main-area>
        <div class="header-preview-cont">
            <div class="header-preview"
            [ngStyle]="{'background-color': headerData?.design?.customBackgroundColor || ''}"
            ></div>
        </div>
        <mat-tab-group>
            <mat-tab label="{{'TABS.GENERAL' | translate}}">
                    <general-tab [general]="headerData?.general"></general-tab>
            </mat-tab>
            <mat-tab label="{{'TABS.DESIGN' | translate}}">
                    <design-tab [design]="headerData?.design" (designTabChanges)="onDesignChanged($event)"></design-tab>
            </mat-tab>
            <mat-tab label="{{'TABS.LINKS' | translate}}">
                
            </mat-tab>
            <mat-tab label="{{'TABS.BUTTONS' | translate}}">
                
            </mat-tab>
        </mat-tab-group>
    </ng-container>