@use '@pepperi-addons/ngx-lib/src/core/style/abstracts/variables' as ngx-variables;
// @use '@pepperi-addons/ngx-lib/src/core/style/abstracts/functions' as ngx-functions;
// @use '@pepperi-addons/ngx-lib/src/core/style/abstracts/mixins' as ngx-mixins;

.expansion-content{
    max-width: 28rem;

    .colors-cont{
        display: grid;
        gap: ngx-variables.$spacing-lg;
        grid-template-columns: 1fr 1fr;
    }
}