<mat-accordion [displayMode]="'flat'" [multi]="true" class="pep-accordion">
    <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
            <mat-panel-title class="ellipsis body-md">
                {{ 'DESIGN.HEADER_COLOR.TITLE' | translate }}
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="expansion-content primary-color-content">
            <p class="body-sm" [innerHTML]="'DESIGN.HEADER_COLOR.DESCRIPTION' | translate"></p>
            <label class="title-lg" [innerHTML]="'DESIGN.HEADER_COLOR.THEME_COLOR' | translate"></label>
            <pep-select 
              [label]="'DESIGN.HEADER_COLOR.THEME_COLOR_DESCRIPTION' | translate"
              [value]="design?.headerColor?.ThemeColor" [options]="themeColorsOptions" [emptyOption]="false"
              (valueChange)="onHeaderKeyChange($event, 'headerColor.headerColor')">
            </pep-select>
            
            <pep-checkbox class="checkbox-as-title" [value]="design?.headerColor?.useCustomColor || false" [label]="'DESIGN.HEADER_COLOR.USE_CUSTOM_COLOR' | translate" 
                          [renderTitle]="true" (valueChange)="onHeaderKeyChange($event, 'headerColor.useCustomColor')">
            </pep-checkbox>
            <div class="colors-cont">
                <pep-color 
                    [disabled]="!design?.headerColor.useCustomColor"
                    [label]="'DESIGN.HEADER_COLOR.CUSTOM_BACKGROUND_COLOR' | translate"
                    [value]="design?.headerColor?.customBackgroundColor || ''"
                    (valueChange)="onHeaderKeyChange($event, 'headerColor.customBackgroundColor')">
                </pep-color>
                <pep-select [disabled]="!design?.headerColor?.useCustomColor" [label]="'DESIGN.HEADER_COLOR.CUSTOM_TEXT_COLOR' | translate"
                [value]="" [options]="textColorsOptions" [emptyOption]="false"
                (valueChange)="onHeaderKeyChange($event, 'headerColor.themeColor')">
                </pep-select>
            </div>
        </div>
    </mat-expansion-panel>
    <mat-expansion-panel [expanded]="false">
      <mat-expansion-panel-header>
          <mat-panel-title class="ellipsis body-md">
              {{ 'DESIGN.DIMENSIONS' | translate }}
          </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="expansion-content primary-color-content">
        <div>
            <pep-checkbox class="checkbox-as-title" [value]="design?.dimensions?.useFullWidth || false" [label]="'DESIGN.HEADER_COLOR.USE_CUSTOM_COLOR' | translate" 
                          [renderTitle]="true" (valueChange)="onHeaderKeyChange($event, 'dimensions.useCustomColor')">
            </pep-checkbox>
        </div>
              <!-- <p class="primary-color-sub-title body-sm" [innerHTML]="'Themes_Addon_PrimaryColor_SubTitle' | translate"></p> -->

              <!-- <div class="primary-color-component">
                  <div>
                      <pep-color
                          [checkAAComplient]="false"
                          [label]="(TRANSLATION_PREFIX_KEY + 'EditPrimaryColor_Title') | translate"
                          [value]="getColor(themeObj.userPrimaryColor)"
                          (valueChange)="setColor(themeObj.userPrimaryColor, $event); onValueChanged()">
                      </pep-color>
                  </div>
              </div> -->
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel [expanded]="false">
    <mat-expansion-panel-header>
        <mat-panel-title class="ellipsis body-md">
            {{ 'DESIGN.SHADOW' | translate }}
        </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="expansion-content primary-color-content">
            <!-- <p class="primary-color-sub-title body-sm" [innerHTML]="'Themes_Addon_PrimaryColor_SubTitle' | translate"></p> -->

            <!-- <div class="primary-color-component">
                <div>
                    <pep-color
                        [checkAAComplient]="false"
                        [label]="(TRANSLATION_PREFIX_KEY + 'EditPrimaryColor_Title') | translate"
                        [value]="getColor(themeObj.userPrimaryColor)"
                        (valueChange)="setColor(themeObj.userPrimaryColor, $event); onValueChanged()">
                    </pep-color>
                </div>
            </div> -->
    </div>
    </mat-expansion-panel>
    <mat-expansion-panel [expanded]="false">
  <mat-expansion-panel-header>
      <mat-panel-title class="ellipsis body-md">
          {{ 'DESIGN.BOTTOM_BORDER' | translate }}
      </mat-panel-title>
  </mat-expansion-panel-header>
  <div class="expansion-content primary-color-content">
          <!-- <p class="primary-color-sub-title body-sm" [innerHTML]="'Themes_Addon_PrimaryColor_SubTitle' | translate"></p> -->

          <!-- <div class="primary-color-component">
              <div>
                  <pep-color
                      [checkAAComplient]="false"
                      [label]="(TRANSLATION_PREFIX_KEY + 'EditPrimaryColor_Title') | translate"
                      [value]="getColor(themeObj.userPrimaryColor)"
                      (valueChange)="setColor(themeObj.userPrimaryColor, $event); onValueChanged()">
                  </pep-color>
              </div>
          </div> -->
  </div>
    </mat-expansion-panel>
</mat-accordion>
