<div class="mapped-field-container" [ngClass]="[menuItem.Title == undefined ? 'separator-container' : '' ,'hierarchyLevel_'+ menuItem?.HierarchyLevel]">
<div class="fields-wrapper">
    <pep-textbox [label]="'MENU.ITEM.NAME_LABEL' | translate" [value]="menuItem?.Title" (valueChange)="menuItemChange($event,menuItem)" [maxFieldCharacters]="menuItemLabelMaxCharacters">
    </pep-textbox>
    <div>
    <label class="body-xs normal ellipsis flow-label">{{'MENU.ACTION.TITLE' | translate}}</label>
    <pep-button class="script-button" [title]="'MENU.ACTION.TITLE' | translate" [value]="(menuItem?.Flow?.FlowKey ? menuItem?.Flow?.FlowName : ('MENU.ACTION.CHOOSE_FLOW' | translate))" 
                [disabled]="menuItem?.Items?.length > 0" [ngStyle]="{'pointer-events': menuItem?.Items?.length > 0 ? 'none' : 'unset'}"
                (buttonClick)="openFlowPickerDialog();"></pep-button>
      </div>
    <pep-group-buttons-settings [groupType]="'custom'" [btnsArray]="leftRightArrows" [title]="' '" [subHeader]="null"
        pepResetConfigurationField="'group-buttons-test'" [dir]="'ltr'">
  </pep-group-buttons-settings>
    <pep-button class="center-button" [disabled]="!deleteable" iconName="system_bin" [title]="'Delete'" (buttonClick)="deleteMenuItem($event, menuItem)"></pep-button>
</div>
</div>