<div class="mapped-field-container" [ngClass]="[menuItem.Title == undefined ? 'separator-container' : '' ,'hierarchyLevel_'+ menuItem?.HierarchyLevel]">
<div class="fields-wrapper">
    <pep-textbox [label]="'MENU.ITEM.NAME_LABEL' | translate" [value]="menuItem?.Title" (valueChange)="menuItemChange($event,menuItem)" [maxFieldCharacters]="menuItemLabelMaxCharacters">
    </pep-textbox>
    <div>
        <pep-field-title [label]="'MENU.ACTION.TITLE' | translate"></pep-field-title>
        <pep-flow-picker-button [disabled]="menuItem?.Items?.length > 0" [flowHostObject]="flowHostObject" (flowChange)="onFlowChange($event)"></pep-flow-picker-button>
      </div>
    <pep-group-buttons-settings [groupType]="'custom'" [btnsArray]="leftRightArrows" [title]="" [subHeader]="null"
        pepResetConfigurationField="'group-buttons-test'" [dir]="'ltr'">
  </pep-group-buttons-settings>
    <pep-button class="center-button" [disabled]="!deleteable" iconName="system_bin" [title]="'HEADERS_MANAGER.ACTION.DELETE' | translate" (buttonClick)="deleteMenuItem($event, menuItem)"></pep-button>
</div>
</div>