@use '@pepperi-addons/ngx-lib/src/core/style/abstracts/variables';


:host {
    height: 100%;
}

::ng-deep .list-empty-state{
    min-height: 15rem;
}

.headerExplanation{
        max-width: 34rem;
        display: block;
}

.add-on-width {
    max-width: 65rem;
    display: flex;
    height: inherit;
    flex-direction: column;
}

mat-tab-group{
    max-width: 896px;
    height: 100%;
    
    ::ng-deep {
        .mat-tab-header{
            position: sticky;
            top: 0;
            background: #fff;
            z-index: 2;
        }
        .mat-tab-body-wrapper{
            height: 100%;
        
            .mat-tab-body-content{
                padding: unset !important;
            }
        }
    }
}