<p class="page-description body-md" [innerHTML]="'THEME.TITLE' | translate"></p>

<div class="page-body">
  <mat-accordion class="pep-accordion" [multi]="'true'">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title class="title title-md">
            {{'THEME.LOGO.TITLE' | translate}}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p class="body-sm ellipsis">{{'THEME.LOGO.SUB_TITLE' | translate}}</p>
      <p class="body-sm ellipsis">{{'THEME.LOGO.SUB_TITLE2' | translate}}</p>
      <div>
      <label class="body-xs normal ellipsis">{{'THEME.LOGO.TITLE' | translate}}</label>
      <div #assetsBtnCont class="assets-btn-cont" [ngStyle]="{'background-image': 'url(' + imageURL + ')'}" (click)="onOpenAssetsDialog();">
          <pep-button sizeType="sm" [styleType]="'regular'" [value]="'THEME.LOGO.OPEN_ASSETS_MANAGER' | translate"  iconName="system_file_upload_cloud"></pep-button>
      </div>
    </div>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title class="title title-md">
            {{'THEME.COLOR.TITLE' | translate}}
        </mat-panel-title>
      </mat-expansion-panel-header> 
      <p class="body-sm ellipsis">{{'THEME.COLOR.SUB_TITLE' | translate}}</p>
      <div>
        <pep-select [label]="'THEME.COLOR.APP_COLOR' | translate" [value]="configuration?.color || null" 
                [options]="headerColor" (valueChange)="onHostEventChange('color',$event)" [emptyOption]="false" 
                [disabled]="false" styleType="regular"></pep-select>
      </div>
    </mat-expansion-panel>
  </mat-accordion>

</div>